output#statusLoc {
  	width: 465px; // 420
  	/*text-shadow: 0px -1px #181A20; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	text-align: left;
  	resize: none;
	background-color: #E0E0E0; 
	border: 0px;
	float: left;
	padding: 1px;
}
output#statusScore {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	text-align: left;
  	resize: none;
	background-color: #E0E0E0;
	border: 0px;
	float: left;
	padding: 1px;
}
output#statusMoves {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	text-align: left;
  	resize: none;
	background-color: #E0E0E0;
	border: 0px;
	float: left;
	padding: 1px;
}

.cave {
	/* round corners on main shape */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	/* shadows on main shape */
	-moz-box-shadow:    inset 0px 1px #7b839b, 0 2px 8px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: inset 0px 1px #7b839b, 0 2px 8px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 0px 1px #7b839b, 0 2px 8px rgba(50, 50, 50, 0.75);

	background-color: #E0E0E0; 
	float: left;
	padding: 9px;
	height: 620px; 
	width: 615px; // 570
}

.display-text {
	color: #fff;
	font-size: 12px;
	line-height: 42px;
	overflow: hidden;
	width: 1000px;
    float: right;
}
.display-inner {
    width: 156px;
    overflow: hidden;
}

input {
	width: 600px; // 555
    font-size: 12px;
    color: black;
	/* add gradient */
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1)));  /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
    outline: 0;

}

textarea#displayText 
{ 
	height: 380px;		/* height of main text display area */
	width: 600px;		/* width of main text display area 555*/
  	font-size: 13px;
  	font-family: Courier New;
	resize: none;
}

.clear {clear:both;}

.body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.header {
    height: 100px;
	line-height: 100px;
	text-align: center;
}

.bold {
	font-weight: bold;
}

.h1 {
	font-size: 20px;
	color: #CB7D27;
}

.p {
	margin-bottom: 8px;
}
.link {
	color: #CB7D27;
	text-decoration: none;
}
.link:hover {
	text-decoration: underline;
}

